.vditor-ir {
	box-sizing: border-box;
	flex: 1;
	min-width: 1px;
	position: relative;
	width: 100%;
}

.vditor-ir__node[data-type="code-block"]:before,
.vditor-ir__node[data-type="code-block"]:after,
.vditor-ir__node[data-type="yaml-front-matter"]:before,
.vditor-ir__node[data-type="yaml-front-matter"]:after,
.vditor-ir__node[data-type="math-block"]:before,
.vditor-ir__node[data-type="math-block"]:after {
	content: ' ';
	color: var(--second-color);
}

.vditor-ir__node:not(.vditor-ir__node--expand) .vditor-ir__marker {
	padding: 0 !important;
}

.vditor-ir__node:not(.vditor-ir__node--expand)[data-type="a"] {
	cursor: pointer;
}

.vditor-ir__node[data-type="link-ref"],
.vditor-ir__node[data-type="footnotes-ref"] {
	color: #4285f4;
}

.vditor-ir__node[data-type="html-block"] {
	margin-bottom: 1em;
}

.vditor-ir__node .vditor-ir__marker {
	width: 0;
	overflow: hidden;
	display: inline-block;
	height: 0;
	transition: all 0.15s ease-in-out;
}

.vditor-ir__node--hidden .vditor-ir__marker {
	visibility: hidden;
}

.vditor-ir__node--expand .vditor-ir__marker {
	color: var(--second-color);
	display: inline;
	height: auto;
	width: auto;
}

.vditor-ir__node--expand .vditor-ir__marker--hide {
	display: none;
}

.vditor-ir__node--expand .vditor-ir__marker--heading {
	color: var(--ir-heading-color);
}

.vditor-ir__node--expand .vditor-ir__marker--bi {
	color: var(--ir-bi-color);
}

.vditor-ir__node--expand .vditor-ir__marker--link {
	color: var(--ir-link-color);
}

.vditor-ir__node--expand .vditor-ir__marker--title {
	color: var(--ir-title-color);
}

.vditor-ir__node--expand .vditor-ir__marker--bracket {
	color: var(--ir-bracket-color);
	text-decoration: underline;
}

.vditor-ir__node--expand .vditor-ir__marker--paren {
	color: var(--ir-paren-color);
}

.vditor-ir__node--expand .vditor-ir__marker--info {
	color: var(--ir-heading-color);
}

.vditor-ir__node--expand .vditor-ir__marker--pre code {
	color: var(--textarea-text-color);
	height: auto;
	text-align: left;
}

.vditor-ir__node--expand[data-type="code-block"]:before,
.vditor-ir__node--expand[data-type="code-block"]:after {
	content: '```';
}

.vditor-ir__node--expand[data-type="yaml-front-matter"]:before,
.vditor-ir__node--expand[data-type="yaml-front-matter"]:after {
	content: '---';
}

.vditor-ir__node--expand[data-type="math-block"]:before,
.vditor-ir__node--expand[data-type="math-block"]:after {
	content: '$$';
}

.vditor-ir__node span[data-type="code-block-open-marker"],
.vditor-ir__node span[data-type="code-block-close-marker"],
.vditor-ir__node span[data-type="yaml-front-matter-open-marker"],
.vditor-ir__node span[data-type="yaml-front-matter-close-marker"],
.vditor-ir__node span[data-type="math-block-open-marker"],
.vditor-ir__node span[data-type="math-block-close-marker"] {
	display: none;
}

.vditor-ir__preview {
	cursor: pointer;
	white-space: initial;
	min-height: 27px;
}

.vditor-ir__link {
	color: var(--ir-bracket-color);
	text-decoration: underline;
}

.vditor-ir pre.vditor-reset {
	background-color: var(--panel-background-color);
	margin: 0;
	white-space: pre-wrap;
	height: 100%;
	box-sizing: border-box;
}

.vditor-ir pre.vditor-reset[contenteditable="false"] {
	opacity: 0.3;
	cursor: not-allowed;
}

.vditor-ir pre.vditor-reset:empty::before {
	content: attr(placeholder);
	color: var(--second-color);
}

.vditor-ir pre.vditor-reset:focus {
	outline: none;
	background-color: var(--textarea-background-color);
}

.vditor-ir pre.vditor-reset:after {
	content: "";
	height: var(--editor-bottom);
	display: block;
}

.vditor-ir pre.vditor-reset pre {
	margin: 0;
}

.vditor-ir hr {
	display: inline-block;
	margin: 12px 0;
	width: 100%;
}

.vditor-ir blockquote:empty::before,
.vditor-ir pre > code:empty::before,
.vditor-ir p:empty::before,
.vditor-ir h1:empty::after,
.vditor-ir h2:empty::after,
.vditor-ir h3:empty::after,
.vditor-ir h4:empty::after,
.vditor-ir h5:empty::after,
.vditor-ir h6:empty::after {
	content: ' ';
}

.vditor-ir .vditor-reset > h1:before,
.vditor-ir .vditor-reset > h2:before,
.vditor-ir .vditor-reset > h3:before,
.vditor-ir .vditor-reset > h4:before,
.vditor-ir .vditor-reset > h5:before,
.vditor-ir .vditor-reset > h6:before,
.vditor-ir div[data-type="link-ref-defs-block"]:before,
.vditor-ir div[data-type="footnotes-block"]:before,
.vditor-ir .vditor-toc:before {
	float: left;
	padding-right: 4px;
	margin-left: -29px;
	content: 'H1';
	font-size: 0.85rem;
	font-weight: normal;
	color: var(--second-color);
}

.vditor-ir .vditor-reset > h2:before {
	content: 'H2';
}

.vditor-ir .vditor-reset > h3:before {
	content: 'H3';
}

.vditor-ir .vditor-reset > h4:before {
	content: 'H4';
}

.vditor-ir .vditor-reset > h5:before {
	content: 'H5';
}

.vditor-ir .vditor-reset > h6:before {
	content: 'H6';
}

.vditor-ir div[data-type="link-ref-defs-block"] {
	color: var(--blockquote-color);
}

.vditor-ir div[data-type="link-ref-defs-block"]:before {
	content: '"A"';
}

.vditor-ir div[data-type="footnotes-block"] {
	border-top: 2px solid var(--heading-border-color);
	padding-top: 24px;
	margin-top: 24px;
}

.vditor-ir div[data-type="footnotes-block"]:before {
	content: '^F';
}

.vditor-ir div[data-type="footnotes-block"] > div[data-type="footnotes-def"] > ul,
.vditor-ir div[data-type="footnotes-block"] > div[data-type="footnotes-def"] > ol,
.vditor-ir div[data-type="footnotes-block"] > div[data-type="footnotes-def"] > p,
.vditor-ir div[data-type="footnotes-block"] > div[data-type="footnotes-def"] > blockquote,
.vditor-ir div[data-type="footnotes-block"] > div[data-type="footnotes-def"] > pre,
.vditor-ir div[data-type="footnotes-block"] > div[data-type="footnotes-def"] > table,
.vditor-ir div[data-type="footnotes-block"] > div[data-type="footnotes-def"] > hr {
	margin-left: 8px;
}

.vditor-ir .vditor-toc:before {
	content: "ToC";
}

.vditor-ir .vditor-toc span[data-type="toc-h"] {
	color: #4285f4;
	text-decoration: underline;
}

@media screen and (max-width: 520px) {
	.vditor-ir h1:before,
  .vditor-ir h2:before,
  .vditor-ir h3:before,
  .vditor-ir h4:before,
  .vditor-ir h5:before,
  .vditor-ir h6:before,
  .vditor-ir div[data-type="link-ref-defs-block"]:before,
  .vditor-ir div[data-type="footnotes-block"]:before,
  .vditor-ir .vditor-toc:before {
		content: none;
	}
}