h1, h2, h3, h4, h5, h6,
p, ol, ul, pre {
	margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	margin-top: 24px;
	margin-bottom: 16px;
	line-height: 1.25;
}

.vscode-light h1,
.vscode-light div[data-type="footnotes-block"], 
.vscode-light h2,
.vscode-light hr,
.vscode-light td {
	border-color: rgba(0, 0, 0, 0.18);
}

.vscode-dark h1,
.vscode-dark div[data-type="footnotes-block"], 
.vscode-dark h2,
.vscode-dark hr,
.vscode-dark td {
	border-color: rgba(255, 255, 255, 0.18);
}

sub,
sup {
	line-height: 0;
}

ul ul:first-child,
ul ol:first-child,
ol ul:first-child,
ol ol:first-child {
	margin-bottom: 0;
}

.img, video {
	max-width: 100%;
	max-height: 100%;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:focus,
input:focus,
select:focus,
textarea:focus {
	outline: 1px solid -webkit-focus-ring-color;
	outline-offset: -1px;
}

p {
	margin-bottom: 16px !important;
}

ul,ol,li p{
	margin-bottom: 0.7em !important;
	margin-top: 0	!important;
}

hr {
	border: 0;
	height: 1px;
	border-bottom: 1px solid;
	
}

h1 {
	font-size: 2em;
	margin-top: 0 !important;
	padding-bottom: 0.3em;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

h2 {
	font-size: 1.5em;
	padding-bottom: 0.3em;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

h3 {
	font-size: 1.25em !important;
}

h4 {
	font-size: 1em !important;
}

h5{
	font-size: 0.875em !important;
}

h6{
	font-size: 0.875em !important;
}

.vscode-light th {
	border-color: rgba(0, 0, 0, 0.69) !important;
}

.vscode-dark th {
	border-color: rgba(255, 255, 255, 0.69) !important;
}

table {
	border-collapse: collapse;
	margin-bottom: 0.7em;
}

th {
	/* text-align: left; */
	border: none !important;
	border-bottom: 1px solid !important;
}
tr{
	border-top: none !important;
}
td{
	border-right: none !important;
	border-left: none !important;
}
th,
td {
	padding: 5px 10px !important;

}

table > tbody > tr + tr > td {
	border-top: 1px solid ipo !important;
	border-bottom: none !important;
}
/* input {
  font: inherit;
  line-height: inherit;
  padding: 0;
  border: none;
} */

blockquote {
	margin: 0;
	padding: 0px 16px 0 10px !important;
	border-left: 5px solid var(--vscode-textBlockQuote-border) !important;
	/* border-left-style: solid; */
	border-radius: 2px;
	/* border-color: revert-layer; */
	border-color: var(--vscode-textBlockQuote-border);
	background: var(--vscode-textBlockQuote-background);
}
pre {
	background-color: var(--vscode-textCodeBlock-background) !important;
	border: 1px solid var(--vscode-widget-border);
}

pre code {
	font-size: 100% !important;
	display: inline-block;
	tab-size: 4;
}