html, body {
	font-family: var(--markdown-font-family, -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", system-ui, "Ubuntu", "Droid Sans", sans-serif);
	font-size: var(--markdown-font-size, 15px);
	padding: 0 26px;
	line-height: var(--markdown-line-height, 22px);
	word-wrap: break-word;
}

body {
	padding-top: 1em;
}

/* Custom IR */
.vditor * {
    font-family: var(--markdown-font-family, -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", system-ui, "Ubuntu", "Droid Sans", sans-serif);
}
.vditor-reset h1 {
  font-size: 2em;
}

.vditor-reset {
    overflow: visible;
    padding: 0 !important;
    /* line-height: 24px; */
}
.vditor-toolbar{
    display: none;
}
.vditor{
  border: none;
}
.vditor-reset hr,
.vditor-ir hr{
    margin: revert;
    display: revert;
}

.vscode-light .vditor-reset h1,
.vscode-light .vditor-reset h2,
.vscode-light .vditor-reset hr,
.vscode-light .vditor-reset td {
	border-color: rgba(0, 0, 0, 0.18);
}

.vscode-light .vditor-reset hr{
  --hr-bg: rgba(0, 0, 0, 0.18);

}

.vscode-dark .vditor-reset h1,
.vscode-dark .vditor-reset h2,
.vscode-dark .vditor-reset hr,
.vscode-dark .vditor-reset td {
	border-color: rgba(255, 255, 255, 0.18);
}

.vscode-dark .vditor-reset hr{
  background-color: rgba(255, 255, 255, 0.18);
  --hr-bg: rgba(255, 255, 255, 0.18);
}
.vditor-copy{
    display: none !important;
}
.hljs{
  background: transparent !important;
  background-color: var(--vscode-textCodeBlock-background) !important;
  color: var(--vscode-editor-foreground) !important;
}

/* Custom MD */
html, body {
	font-size: var(--markdown-font-size, 15px);
}
body.showEditorSelection [data-block] {
	position: relative;
}
pre.vditor-reset{
  border: none;
}
.vditor-ir__preview {
  white-space: pre;
}

.vditor-ir__node::before,
.vditor-ir__node::after {
  display: none;
}
hr{
  height: 1px !important;
  border: none !important;
}
body.scrollBeyondLastLine {
	margin-bottom: calc(100vh - 22px);
}

.vditor-reset table td, .vditor-reset table th {
 /* border: none; */
 white-space: unset;
}

.vscode-dark .vditor-reset table tr th {
  /* border-top: none; */
  /* border-color: rgba(255, 255, 255, 0.69); */
}
.vditor-ir__link,
.vditor-wysiwyg__link{
  color: var(--vscode-textLink-foreground) !important;
}
#editor.vditor{
  height: 100% !important;
}


/* Target Vditor editable area */
.vditor-ir, .vditor-wysiwyg, .vditor-sv {
  caret-color: var(--vscode-editorCursor-foreground) !important;
  caret-shape: inherit;
}
.vditor-ir .vditor-reset > h1:before, .vditor-ir .vditor-reset > h2:before, .vditor-ir .vditor-reset > h3:before, .vditor-ir .vditor-reset > h4:before, .vditor-ir .vditor-reset > h5:before, .vditor-ir .vditor-reset > h6:before, .vditor-ir div[data-type="link-ref-defs-block"]:before, .vditor-ir div[data-type="footnotes-block"]:before, .vditor-ir .vditor-toc:before {
    margin-left: 0;

}
.vditor-ir__marker{
  color: var(--vscode-editor-foreground) !important;
}
.vditor-ir__marker--pre code {
  color: var(--vscode-textPreformat-foreground) !important;
  background-color: var(--vscode-textPreformat-background) !important;
}
.vditor-ir__marker--info{
  color: var(--vscode-textPreformat-foreground) !important;
}

pre.vditor-ir__marker--pre.vditor-ir__marker code{
    padding: 1em !important;
}
.vditor-ir__marker.vditor-ir__marker--info{
  display: inline !important;
}
.vditor-content hr {
  background-color: var(--hr-bg) !important;
}

.dropdown-menu.show:before,
.dropdown-item {
  background-color: var(--second-bg-color) !important;
  color: var(--front-color) !important;
}

.dropdown-item:hover {
  background: var(--dropdown-hover-background) !important;
}

.vditor-reset--error {
  color: var(--error-color) !important;
}

.vditor-input {
  border: 1px solid var(--ext-border-color);
}

.vditor-toolbar,
.vditor-toolbar--hide:hover {
  background-color: var(--bg-color);
}

.vditor-toolbar__item .vditor-tooltipped {
  color: var(--front-color);
}

.vditor-reset {
  font-size: var(--vscode-editor-font-size);
}
.vditor-reset table tr,
pre.vditor-reset {
    background-color: var(--bg-color) !important;
    color: var(--front-color) !important;
}
.vditor-ir__marker.vditor-ir__marker--heading{
    color: var(--dropdown-hover-background) !important;
}

blockquote,
blockquote p {
  background-color: var(--vscode-textBlockQuote-background) !important;
  color: var(--front-color) !important;
}

.vditor-content .vditor-wysiwyg__preview > code {
  color: var(--front-color);
  background-color: var(--bg-color) !important;
}

.vditor-hint button:not(.vditor-menu--disabled):hover {
  background-color: var(--second-bg-color) !important;
}

.vditor-content .vditor-outline li > span:hover > span {
  color: var(--list-hover-color) !important;
}

.vditor-toolbar,
.vditor-outline {
  border: none !important;
}

.vditor-outline__title {
  display: none !important;
}

body.showEditorSelection [data-block] {
	position: relative;
}

body.showEditorSelection [data-block]:hover:before {
	content: "" !important;
	display: block;
	position: absolute;
	top: 0;
	left: -13px;
	height: 100%;
	z-index: 99999999999999;
	border-left: 3px solid rgba(0, 0, 0, 0.20);
}

.vscode-high-contrast.showEditorSelection [data-block]:hover:before{
	border-left: none;
}

.vscode-light.showEditorSelection [data-block]:hover:before {
	border-left: 3px solid rgba(0, 0, 0, 0.20);
}

.vscode-dark.showEditorSelection [data-block]:hover:before {
	border-left: 3px solid rgba(255, 255, 255, 0.20);
}

.vscode-high-contrast.showEditorSelection [data-block]:hover:before {
	border-left: 3px solid rgba(255, 160, 0, 1);
}
