html,
body {
  font-family: var(
    --markdown-font-family,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe WPC",
    "Segoe UI",
    system-ui,
    "Ubuntu",
    "Droid Sans",
    sans-serif
  );
  font-size: var(--markdown-font-size, 15px);
  padding: 0 26px;
  line-height: var(--markdown-line-height, 22px);
  word-wrap: break-word;
}
body {
  padding-top: 1em;
}
.vditor *:not(.vditor-ir__marker--pre){
  font-family: var(
    --markdown-font-family,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe WPC",
    "Segoe UI",
    system-ui,
    "Ubuntu",
    "Droid Sans",
    sans-serif
  );
}
.vditor-reset h1 {
  font-size: 2em;
}
.vditor-reset {
  overflow: visible;
  padding: 0 !important;
}
.vditor-toolbar {
  display: none;
  border: none !important;
  background-color: var(--bg-color);
}
.vditor {
  border: none;
}
.vditor-reset hr,
.vditor-ir hr {
  margin: revert;
  display: revert;
}
hr {
  height: 1px !important;
  border: none !important;
}
.vscode-light .vditor-reset h1,
.vscode-light .vditor-reset h2,
.vscode-light .vditor-reset hr,
.vscode-light .vditor-reset td {
  border-color: rgba(0, 0, 0, 0.18);
}
.vscode-light .vditor-reset hr {
  --hr-bg: rgba(0, 0, 0, 0.18);
}

.vscode-dark .vditor-reset hr {
  background-color: rgba(255, 255, 255, 0.18);
  --hr-bg: rgba(255, 255, 255, 0.18);
}
/* .vditor-copy {
  display: none !important;
} */
.hljs {
  background: transparent !important;
  background-color: var(--vscode-textCodeBlock-background) !important;
  color: var(--vscode-editor-foreground) !important;
}
body.showEditorSelection pre.vditor-reset > [data-block] {
  position: relative;
}
pre.vditor-reset {
  border: none;
  background-color: transparent !important;
  color: var(--front-color) !important;
}
.vditor-ir__preview {
  white-space: pre;
}
body.showEditorSelection pre.vditor-reset > div[data-block][data-type="code-block"] > pre > code::before,
body.showEditorSelection pre.vditor-reset > [data-block]:not([data-type="code-block"])::before {
  display: none;
  margin-left: -29px;
  color: var(--second-color);
  position: absolute;
}

body.showEditorSelection pre.vditor-reset > div[data-block][data-type="code-block"] > pre:hover > code::before,
body.showEditorSelection pre.vditor-reset > [data-block]:not([data-type="code-block"]) > pre.vditor-ir__preview:hover::before {
  content: "<>";
  position: absolute;
  left: -29px;
  top: 0;
  bottom: 0;
  border-right: 3px solid var(--second-color);
  min-width: 20px;
  display: block;
}

body.showEditorSelection pre.vditor-reset > div[data-block][data-type="code-block"] > pre:hover > code::before ,
body.showEditorSelection pre.vditor-reset > [data-block]:not([data-type="code-block"]):hover::before {
  display: block;
  border-right: 3px solid;
  top: 0;
  bottom: 0;
  position: absolute;
  color:  var(--second-color);
  left: -29px;
  margin-left: 0px;
  padding-right: 0px;
  min-width: 20px;
}
body.showEditorSelection pre.vditor-reset > div[data-block][data-type="code-block"] > pre.vditor-ir__marker--pre > code::before {
  content: "<>";
  position: absolute;
  /* top: 5px; */
  /* bottom: 5px; */
}

div[data-block][data-type="code-block"].vditor-ir__node.vditor-ir__node--expand 
  .vditor-ir__preview {
  display: none;
  font-family: monospace;
}

div[data-block][data-type="code-block"].vditor-ir__node.vditor-ir__node--expand 
  .vditor-ir__marker--pre {
  display: block;
}

body.showEditorSelection pre.vditor-reset > p[data-block]:before {
  content: "¶¶ ";
}
body.showEditorSelection
  pre.vditor-reset
  > ol[data-block]:has(li.vditor-task):hover:before {
  content: "☑≡ ";
}
body.showEditorSelection pre.vditor-reset > p[data-block]:hover:before {
  content: "¶¶ ";
}
body.showEditorSelection
  pre.vditor-reset
  > blockquote[data-block]:hover:before {
  content: "❝";
  left: -35px;
}
body.showEditorSelection pre.vditor-reset > ul[data-block]:hover:before {
  content: "•≡ ";
}
body.showEditorSelection pre.vditor-reset > hr[data-block]:hover:before {
  content: "――";
}
body.showEditorSelection pre.vditor-reset > ol[data-block]:hover:before {
  content: "1≡ ";
}

body.scrollBeyondLastLine {
  margin-bottom: calc(100vh - 22px);
}
.vditor-reset table td,
.vditor-reset table th {
  white-space: unset;
}
.vditor-ir__link,
.vditor-wysiwyg__link {
  color: var(--vscode-textLink-foreground) !important;
}
#editor.vditor {
  height: 100% !important;
}
.vditor-ir,
.vditor-wysiwyg,
.vditor-sv {
  caret-color: var(--vscode-editorCursor-foreground) !important;
  caret-shape: inherit;
}
/* .vditor-ir .vditor-reset > h1:before,
.vditor-ir .vditor-reset > h2:before,
.vditor-ir .vditor-reset > h3:before,
.vditor-ir .vditor-reset > h4:before,
.vditor-ir .vditor-reset > h5:before,
.vditor-ir .vditor-reset > h6:before,
.vditor-ir div[data-type="link-ref-defs-block"]:before,
.vditor-ir div[data-type="footnotes-block"]:before,
.vditor-ir .vditor-toc:before {
  margin-left: 0;
} */
.vditor-ir__marker {
  color: var(--vscode-editor-foreground) !important;
}
.vditor-ir__marker--pre code {
  color: var(--vscode-textPreformat-foreground) !important;
  background-color: var(--vscode-textPreformat-background) !important;
}
.vditor-ir__marker--info {
  color: var(--vscode-textPreformat-foreground) !important;
  display: inline !important;
}
pre.vditor-ir__marker--pre.vditor-ir__marker code {
  padding: 1em !important;
}
.vditor-content hr {
  background-color: var(--hr-bg) !important;
}
.vditor-reset--error {
  color: var(--error-color) !important;
}
.vditor-input {
  border: 1px solid var(--ext-border-color);
}
.vditor-toolbar__item .vditor-tooltipped {
  color: var(--front-color);
}
.vditor-reset {
  font-size: var(--vscode-editor-font-size);
}
.vditor-reset table tr {
  background-color: transparent !important;
  color: var(--front-color) !important;
}
.vditor-ir__marker.vditor-ir__marker--heading {
  color: var(--dropdown-hover-background) !important;
}
blockquote,
blockquote p {
  background-color: var(--vscode-textBlockQuote-background) !important;
  color: var(--front-color) !important;
}
.vditor-content .vditor-wysiwyg__preview > code {
  color: var(--front-color);
  background-color: var(--bg-color) !important;
}
.vditor-hint {
  background-color: var(--bg-color) !important;
  color: var(--front-color) !important;
}
.vditor-hint button:not(.vditor-menu--disabled):hover {
  background-color: var(--second-bg-color) !important;
}
.vditor-content .vditor-outline li > span:hover > span {
  color: var(--list-hover-color) !important;
}
.vditor-outline {
  border: none !important;
}
.vditor-outline__title {
  display: none !important;
}
/* body.showEditorSelection
  pre.vditor-reset
  > [data-block]:not([data-type="code-block"]):hover:before {
  display: block;
  min-width: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -30px;
  z-index: 99999999999999;
  border-right: 3px solid;
} */
/* body.showEditorSelection
  pre.vditor-reset
  > div[data-type="code-block"]:hover
  pre.vditor-ir__marker--pre:before {
  content: "<>";
  color: rgba(255, 255, 255, 0.2);
  display: block;
  min-width: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -30px;
  z-index: 99999999999999;
  border-right: 3px solid rgba(255, 255, 255, 0.2);
} */
/* .vscode-high-contrast.showEditorSelection
  pre.vditor-reset
  > [data-block]:hover:before {
  border-right: none;
  border-right: 3px solid rgba(255, 160, 0, 1);
  color: rgba(255, 160, 0, 1);
}
.vscode-light.showEditorSelection pre.vditor-reset > [data-block]:hover:before {
  border-right: 3px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
}
.vscode-dark.showEditorSelection pre.vditor-reset > [data-block]:hover:before {
  border-right: 3px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.2);
} */
