/* Custom IR */
.vditor * {
    font-family: var(--markdown-font-family, -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", system-ui, "Ubuntu", "Droid Sans", sans-serif);
}
.vditor-reset h1 {
  font-size: 2em;
}

.vditor-reset {
    overflow: visible;
    padding: 0 !important;
    /* line-height: 24px; */
}
.vditor-toolbar{
    display: none;
}
.vditor{
  border: none;
}
.vditor-reset hr,
.vditor-ir hr{
    margin: revert;
    display: revert;
}

.vscode-light .vditor-reset h1,
.vscode-light .vditor-reset h2,
.vscode-light .vditor-reset hr,
.vscode-light .vditor-reset td {
	border-color: rgba(0, 0, 0, 0.18);
}

.vscode-light .vditor-reset hr{
  --hr-bg: rgba(0, 0, 0, 0.18);

}

.vscode-dark .vditor-reset h1,
.vscode-dark .vditor-reset h2,
.vscode-dark .vditor-reset hr,
.vscode-dark .vditor-reset td {
	border-color: rgba(255, 255, 255, 0.18);
}

.vscode-dark .vditor-reset hr{
  background-color: rgba(255, 255, 255, 0.18);
  --hr-bg: rgba(255, 255, 255, 0.18);
}
.vditor-copy{
    display: none !important;
}
.hljs{
  background: transparent !important;
  background-color: var(--vscode-textCodeBlock-background) !important;
  color: var(--vscode-editor-foreground) !important;
}

/* Custom MD */
html, body {
	font-size: var(--markdown-font-size, 15px);
}
body.showEditorSelection [data-block] {
	position: relative;
}
pre.vditor-reset{
  border: none;
}
.vditor-ir__preview {
  white-space: pre;
}

.vditor-ir__node::before,
.vditor-ir__node::after {
  display: none;
}
hr{
  height: 1px !important;
  border: none !important;
}
body.scrollBeyondLastLine {
	margin-bottom: calc(100vh - 22px);
}

.vditor-reset table td, .vditor-reset table th {
 /* border: none; */
 white-space: unset;
}

.vscode-dark .vditor-reset table tr th {
  /* border-top: none; */
  /* border-color: rgba(255, 255, 255, 0.69); */
}
.vditor-ir__link,
.vditor-wysiwyg__link{
  color: var(--vscode-textLink-foreground) !important;
}
#editor.vditor{
  height: 100% !important;
}


/* Target Vditor editable area */
.vditor-ir, .vditor-wysiwyg, .vditor-sv {
  caret-color: var(--vscode-editorCursor-foreground) !important;
  caret-shape: inherit;
}
.vditor-ir .vditor-reset > h1:before, .vditor-ir .vditor-reset > h2:before, .vditor-ir .vditor-reset > h3:before, .vditor-ir .vditor-reset > h4:before, .vditor-ir .vditor-reset > h5:before, .vditor-ir .vditor-reset > h6:before, .vditor-ir div[data-type="link-ref-defs-block"]:before, .vditor-ir div[data-type="footnotes-block"]:before, .vditor-ir .vditor-toc:before {
    margin-left: 0;

}
