.vditor * {
    /* font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Noto Sans SC", "Helvetica Neue", "Helvetica", "Arial", "Microsoft YaHei", sans-serif; */
    font-family: var(--markdown-font-family, -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", system-ui, "Ubuntu", "Droid Sans", sans-serif);
    /* font-size: var(--markdown-font-size, 15px); */
}


blockquote {
    margin: 0;
    padding: 0px 16px 0 10px;
    border-left-width: 5px;
    border-left-style: solid;
    border-radius: 2px;
    background-color: var(--bg-color) !important;
    color: var(--front-color) !important;
}

/* .vditor-ir__node:hover::before {
    border-left: 3px solid var(--front-color);
} */
.vditor-ir__node::before {
    content: "" !important;
    display: block;
    position: absolute;
    top: 0;
    left: -12px;
    height: 100%;
}
.vditor {
    border: none !important;
    height: auto !important;
    min-height: auto !important;
    width: auto !important;
    --panel-background-color: transparent;
}

.vditor-reset h1 {
  font-size: 2em;
}

.vditor-reset {
    padding: 0 !important;
    line-height: 24px;

}
