name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 20.x
    - run: npm i
    - run: |
        echo ">>> Start compile vscode-markdown."
        npm run build
        echo ">>> Compile vscode-markdown success!"
    - run: npm run package
    - name: Upload to GitHub Release
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      uses: softprops/action-gh-release@v1
      with:
        tag_name: v${{ github.run_number }}
        files: ./vsc-markdown-0.0.1.vsix
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
